body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f4f6fb;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: blue;
    color: white;   
}

nav a{
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero{
    text-align: center;
    padding: 120px;
    background: linear-gradient(#e6ecff,#cbd8ff);
}

.hero h1{
    font-size: 40px;
    color: rgb(47, 47, 107);
}

button{
    padding: 12px 25px;
    border: none;
    margin: 10px;
    background: #2f5bd3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.login{
    background-color: rgb(58, 164, 58);
}


.form{
    width: 400px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow:0 0   10px rgb(0,0,0,0.1);
}

input,textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    
}



.menu{
    display: flex;
    gap: 20px;
    margin: 40px;
}

.menu button{
    padding: 15px 25px;
    background: #2f5bd3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;   
}